footer {
    position: relative;
    padding: 65px 0;
    text-align: center;
}

footer p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bx--card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: #f0f3f6;
    padding-left: 1rem;
    padding-right: 1rem;
}